.usernyeart {
	width: 100%;
	background: #000;
	height: 300px;
	position: relative;
	overflow: hidden;

	.cont {
		width: 990px;
		height: 100%;
		position: absolute;
		margin: 0 auto;
		top: 0;
		left: 0;
		right: 0;
	}

	.word {
		position: absolute;
		top: 73px;
		left: -130px;
	}

	.snow span {
		position: absolute;

		&:nth-of-type(1) {
			top: 18px;
			left: 279px;
			animation: hua001 10s linear infinite;
		}

		&:nth-of-type(2) {
			top: 21px;
			left: 12px;
			animation: hua003 15s linear infinite;
		}

		&:nth-of-type(3) {
			top: 31px;
			right: 36px;
			animation: hua002 17s linear infinite;
		}

		&:nth-of-type(4) {
			top: 42px;
			left: 60px;
			animation: hua005 25s linear infinite;
		}

		&:nth-of-type(5) {
			top: 55px;
			right: 140px;
			animation: hua006 18s linear infinite;
		}

		&:nth-of-type(6) {
			top: 154px;
			right: 450px;
			animation: hua004 25s linear infinite;
		}

		&:nth-of-type(7) {
			top: 147px;
			right: 0;
			animation: hua007 20s linear infinite;
		}

		&:nth-of-type(8) {
			top: 124px;
			left: 166px;
			animation: hua008 19s linear infinite;
		}

		&:nth-of-type(9) {
			top: 173px;
			left: 9px;
			animation: hua004 21s linear infinite;
		}

		&:nth-of-type(10) {
			top: 108px;
			right: 221px;
			animation: hua001 20s linear infinite;
		}

		&:nth-of-type(11) {
			top: 173px;
			right: 89px;
			animation: hua002 21s linear infinite;
		}

		&:nth-of-type(12) {
			top: 18px;
			right: 291px;
			animation: hua005 20s linear infinite;
		}

		@keyframes hua001 {
			0% {
				transform: rotate(0deg);
				transform: scale(0);
			}
			1% {
				transform: rotate(0deg);
				transform: scale(0);
			}
			11% {
				transform: rotate(0deg);
				transform: scale(1);
			}
			21% {
				transform: rotate(20deg);
			}
			45% {
				transform: rotate(30deg);
			}
			80% {
				transform: rotate(60deg);
				transform: translate(300px, 400px);
			}
			100% {
				transform: rotate(180deg);
				transform: translate(450px, 600px);
			}
		}

		@keyframes hua002 {
			0% {
				transform: rotate(0deg);
				transform: scale(0);
			}
			10% {
				transform: rotate(0deg);
				transform: scale(1);
			}
			20% {
				transform: rotate(20deg);
			}
			40% {
				transform: rotate(30deg);
			}
			80% {
				transform: rotate(60deg);
				transform: translate(200px, 300px);
			}
			100% {
				transform: rotate(180deg);
				transform: translate(400px, 500px);
			}
		}

		@keyframes hua003 {
			0% {
				transform: rotate(0deg);
				transform: scale(0);
			}
			20% {
				transform: rotate(0deg);
				transform: scale(1);
			}
			40% {
				transform: rotate(20deg);
			}
			55% {
				transform: rotate(30deg);
			}
			85% {
				transform: rotate(60deg);
				transform: translate(400px, 500px);
			}
			100% {
				transform: rotate(180deg);
				transform: translate(500px, 600px);
			}
		}

		@keyframes hua004 {
			0% {
				transform: rotate(0deg);
				transform: scale(0);
			}
			3% {
				transform: rotate(0deg);
				transform: scale(0);
			}
			15% {
				transform: rotate(0deg);
				transform: scale(1);
			}
			30% {
				transform: rotate(20deg);
			}
			45% {
				transform: rotate(30deg);
			}
			75% {
				transform: rotate(60deg);
				transform: translate(400px, 500px);
			}
			100% {
				transform: rotate(180deg);
				transform: translate(500px, 600px);
			}
		}

		@keyframes hua005 {
			0% {
				transform: rotate(0deg);
				transform: scale(0);
			}
			12% {
				transform: rotate(0deg);
				transform: scale(1);
			}
			25% {
				transform: rotate(20deg);
			}
			45% {
				transform: rotate(30deg);
			}
			80% {
				transform: rotate(60deg);
				transform: translate(400px, 500px);
			}
			100% {
				transform: rotate(180deg);
				transform: translate(500px, 600px);
			}
		}

		@keyframes hua006 {
			0% {
				transform: rotate(0deg);
				transform: scale(0);
			}
			4% {
				transform: rotate(0deg);
				transform: scale(0);
			}
			15% {
				transform: rotate(0deg);
				transform: scale(1);
			}
			30% {
				transform: rotate(20deg);
			}
			45% {
				transform: rotate(30deg);
			}
			89% {
				transform: rotate(60deg);
				transform: translate(400px, 500px);
			}
			100% {
				transform: rotate(180deg);
				transform: translate(500px, 600px);
			}
		}

		@keyframes hua007 {
			0% {
				transform: rotate(0deg);
				transform: scale(0);
			}
			10% {
				transform: rotate(0deg);
				transform: scale(1);
			}
			30% {
				transform: rotate(20deg);
			}
			40% {
				transform: rotate(30deg);
			}
			90% {
				transform: rotate(60deg);
				transform: translate(400px, 500px);
			}
			100% {
				transform: rotate(180deg);
				transform: translate(500px, 600px);
			}
		}

		@keyframes hua008 {
			0% {
				transform: rotate(0deg);
				transform: scale(0);
			}
			2% {
				transform: rotate(0deg);
				transform: scale(0);
			}
			10% {
				transform: rotate(0deg);
				transform: scale(1);
			}
			20% {
				transform: rotate(20deg);
			}
			40% {
				transform: rotate(30deg);
			}
			80% {
				transform: rotate(60deg);
				transform: translate(400px, 500px);
			}
			100% {
				transform: rotate(180deg);
				transform: translate(500px, 600px);
			}
		}

	}
}
