@import '../common.less';

.main {
	background: @defaultColor;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;

	#meteor {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
}
